In [1]:
import pandas as pd

Dataframe

In [2]:
data = {'Product': ['TV', 'Laptop', 'Phone'], 'Price': [500, 1200, 800]}
df = pd.DataFrame(data)

In [3]:
print(df)

  Product  Price
0      TV    500
1  Laptop   1200
2   Phone    800

Series

In [4]:
data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In this example, the numbers 0, 1, 2, 3 represent the default index of the Series. You can also specify custom indices:

In [5]:
s = pd.Series(data, index=['a', 'b', 'c', 'd'])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [7]:
data3=[123.4,12.4,14.8]
s1=pd.Series(data3)
print(s1)

0    123.4
1     12.4
2     14.8
dtype: float64

Series can hold different data types

In [9]:
data4 = [True, "say", {'a':'yes'}]
s2=pd.Series(data4)
print(s2)

0            True
1             say
2    {'a': 'yes'}
dtype: object

Series vs. DataFrame:
A Series is a single column of data.
A DataFrame is a collection of multiple Series, structured in a tabular format.
Series: Has a simple structure with a single axis of labels (indices). It can store any data type (int, float, string, etc.).
DataFrame: Has a more complex structure with two axes—rows and columns—allowing it to store multiple Series as columns. DataFrames can store heterogeneous data (different data types in different columns).

dtype Attribute

In [ ]:
In Series

In [10]:
import pandas as pd
s = pd.Series([1, 2, 3, 4])
print(s.dtype)

int64

In Dataframe

In [11]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Height': [5.5, 6.0, 5.8]
})
print(df.dtypes)

Name       object
Age         int64
Height    float64
dtype: object

.dtype: Returns the data type of a single Series.
.dtypes: Returns the data types of all columns in a DataFrame.
Useful for understanding how Pandas interprets the data, which helps avoid issues with incompatible data types during analysis.

In [12]:
pd.__version__

'2.1.4'

Skill Challenge

In [13]:
actors = ["Ajith", "Sethu", "Siva", "Mani"]

In [14]:
ages =[58,52,48,34]

In [15]:
skill_series =pd.Series(ages, index=actors)
print(skill_series)

Ajith    58
Sethu    52
Siva     48
Mani     34
dtype: int64

In [17]:
dict(zip(actors,ages))

{'Ajith': 58, 'Sethu': 52, 'Siva': 48, 'Mani': 34}

In [18]:
skill_series_dict=pd.Series(dict(zip(actors,ages)))

In [19]:
print(skill_series)

Ajith    58
Sethu    52
Siva     48
Mani     34
dtype: int64

Skill Challenge in accessing data

In [22]:
square = pd.Series([i**2 for i in range(100)])

In [25]:
square.head()

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [26]:
square[4:8]

4    16
5    25
6    36
7    49
dtype: int64

In [27]:
square[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [28]:
square.iloc[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [29]:
square.tail(3)

97    9409
98    9604
99    9801
dtype: int64

In [31]:
square[-3:].equals(square.tail(3))

True